root = true

[*]
charset = utf-8
indent_size = 2
indent_style = space
insert_final_newline = true

[*.cs]

indent_size = 4

dotnet_diagnostic.IDE0005.severity = warning  # Remove unnecessary using directives

dotnet_diagnostic.IDE0055.severity = warning  # Formatting rule
dotnet_sort_system_directives_first = true

dotnet_diagnostic.IDE0073.severity = warning  # Require file header
file_header_template = Copyright (c) Duende Software. All rights reserved.\nSee LICENSE in the project root for license information.

dotnet_diagnostic.IDE0161.severity = error  # Use file-scoped namespace
csharp_style_namespace_declarations = file_scoped
